.cards {
  @include transition();
  @include flex();
  justify-content: flex-start;

  position: relative;

  margin: $m-1;
  padding: $p-2;

  text-align: center;
  background: $bg-card;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }
}

.block {
  @include transition();
  @include flex();

  padding: $p-1;

  background: transparent;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;

  &-text {
    padding-left: $p-2;
  }

  &:hover {
    transform: translateY(-3px);
    background: $bg-card;
  }
}