@mixin flex() {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

@mixin transition {
  transition: all .3s;
}

@mixin filter {
  filter: blur(4px);
}

@mixin container {
  max-width: 1350px;
  margin: 0 auto;
}