.swiper {
  width: 100%;
  height: auto;

  &-slide {
    @include flex();
  }

  &-scrollbar {
    bottom: 0;

    &-drag {
      background-color: $color-green;
    }
  }
}

.line {
  .swiper {
    &-scrollbar {
      display: none;
    }
  }
}